/* Estilos específicos para la cabecera */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2b414e;
  z-index: 1000; /* Asegura que la cabecera esté por encima de otros elementos */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px; /* Ajusta el relleno para separar los elementos */
}

.header-button {
  margin-top: 20px;
  padding-top: 10px;
  margin-right: 10px; /* Espacio entre los botones */
}

.header img {
  max-width: 100px;
  vertical-align: middle;
}

.header a {
  /* Agrega estilos para los enlaces, como colores, subrayados, etc. */
}
