/* Estilos específicos para la cabecera */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px; /* Por ejemplo, establece aquí la altura mínima deseada */
  background-color: #2b414e;
  z-index: 1000; /* Asegura que la cabecera esté por encima de otros elementos */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px; /* Ajusta el relleno para separar los elementos */
}
.header-button {
  margin-top: 20px;
  padding-top: 10px;
  margin-right: 10px; /* Espacio entre los botones */
}
.header img {
  max-width: 100px;
  vertical-align: middle;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .header {
    flex-direction: row; /* Cambia la dirección de los elementos a fila */
    align-items: center; /* Alinea los elementos al centro verticalmente */
    padding: 10px; /* Ajusta el relleno para dispositivos móviles */
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
  }

  .header-button {
    margin-top: 10px; /* Reduce el margen superior de los botones */
  }
}
