/* /* Estilo para la tabla
.TableContainer {
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para las celdas de encabezado
.TableHead {
  background-color: #3e869e;
  color: white;
  font-weight: bold;
  padding: 8px;
}

/* Estilo para las celdas de datos
.TableCell {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

/* Estilo para las filas alternas
.TableRow:nth-child(even) {
  background-color: #f2f2f2;
}

.ButtonEliminar,
.ButtonEditar {
  margin: 2px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
} */
