/* Estilos para el contenedor del formulario */
.form-container {
  position: relative; /* Establece la posición relativa */
  top: 100px; /* Ajusta esta propiedad según la altura de tu cabecera */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2b414e; /* Color de fondo */
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
  width: 80%; /* Ancho del formulario */
  max-width: 400px; /* Ancho máximo del formulario */
}

.form-group {
  margin-bottom: 1rem;
  /* Ajusta el espaciado entre los campos */
}

label {
  font-weight: bold;
  /* Estilo para las etiquetas */
}

input {
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(85, 85, 85);
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  color: white /* !important; */ /* Agregamos !important para asegurar la prioridad */
  /* Estilo para los campos de entrada */
}


.botonEnviar {
  /* Estilo para el botón de enviar */
  border-color: white;
  width: 100%;
}

button:hover {
  background-color: #333; /* Cambio de color al pasar el ratón */
}
