.slider-button-container {
    position: relative;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 5px); /* Ajusta la distancia vertical entre el botón y los botones desplegables */
    left: 0;
    background-color: #fff; /* Color de fondo para los botones desplegables */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para los botones desplegables */
    border-radius: 5px; /* Borde redondeado para los botones desplegables */
    overflow: hidden;
    transition: transform 0.3s ease;
    transform: translateY(-100%);
  }
  
  .button-group.slide-down {
    transform: translateY(0);
  }
  
  .header-button {
    padding: 10px 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .header-button:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el cursor sobre los botones */
  }
  